img {
  width: 100%;
}

#facebox {
  /*margin: 0px;*/
  /*border: 1px black solid;*/
  position: fixed;
  width: 30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  /*transform: rotate(90deg);*/
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}

@keyframes kill-robot {
  from { transform: translate(-50%, -50%) }
  to   { transform: rotate(90deg) }
}

@keyframes revive-robot {
  from { transform: rotate(90deg) }
  to   { transform: translate(-50%, -50%) }
}

.robotpartsbox {
  position: absolute;
  /*width: 50%;*/
  top: 0%;
  left: 0%;
}

#hatbox {
  top: -10%;
  left: 50%;
  width: 70%;
  transform: translate(-50%,0);
  /*border: black 1px solid;*/
}

#hatbox > img { 
  transform: rotate(10deg) translate(7%,-5%); 
  position: relative; z-index: 10;
}
#hairbox > img { 
  position: relative; z-index: 1; 
}

#hairbox {
  width: 100%;
  top: 50%;
}

#eyebox {
  width: 40%;
  top: 45%;
  left: 50%;
  transform: translate(-50%,0);
}

[id|=eyebrow] {
  filter: sepia(100%) brightness(1.9) hue-rotate(-50deg);
}

#eyebrow-left {
  width: 33%;
  top: -60%;
  transform: rotate(90deg);
}

#eyebrow-right {
  width: 33%;
  top: -75%;
  left: 60%;
  transform: rotate(-110deg);
}

#nose {
  top: 55%;
  left: 50%;
  width: 20%;
  filter: sepia(100%) brightness(148%);
  transform: translate(-50%,0) rotate(90deg);
  /*border: black 1px solid;*/
}

#nostrils {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-30%) rotate(90deg);
  /*transform: translate(-50%,0);*/
  width: 55%;
  filter: brightness(35%) hue-rotate(-150deg);
}

#blush {
  top: 55%;
  left: 50%;
  width: 40%;
  transform: translate(-50%,0);
  filter: blur(4px) brightness(100%) sepia(100) saturate(50) hue-rotate(-40deg);
}

#beard {
  transform: scale(1.3,0.4);
  top: -52%;
  filter: brightness(80%);
}

#mouth {
  top: 80%;
  left: 50%;
  width: 40%;
  transform: translate(-50%,-50%);
}

